.blockAiAssistantFolder {
    margin-left: 5px;
}

.blockAiAssistantCheckbox {
    display: none;
}

label.blockAiAssistant {
    cursor: pointer;
    display: block;
    padding: 5px;
    background-color: #fff;

    margin-bottom: 5px;
}

label.blockAiAssistant:hover {
    background-color: #fff;
}

.blockAiAssistantContent {
    display: none;
    margin-left: 20px;
}

/*.blockAiAssistantCheckbox:checked + label + .blockAiAssistantContent {*/
/*    display: block;*/
/*}*/


.courseModuleCheckbox {
    display: inline-block !important;
    visibility: visible  !important;
}

.select-all-checkbox{
    display: inline-block !important;
    visibility: visible  !important;

}

.activityicon {
    width:16px;
    height:100%;
}