.blockAiAssistantFolder {
    margin-left: 5px;
}

.blockAiAssistant {
    cursor: pointer;
    display: block;
    padding: 2px;
    background-color: #fff;

    margin-bottom: 5px;
}

.blockAiAssistant:hover {
    background-color: #fff;
}

.blockAiAssistantContent {
    display: none;
    margin-left: 20px;
}

.courseModuleCheckbox {
    display: inline-block !important;
    visibility: visible  !important;
}

.select-all-checkbox{
    display: inline-block !important;
    visibility: visible  !important;

}

.activityicon {
    width:16px;
    height:100%;
}