<div class="row">
    <div class="col-md-12">
        <div class="blockAiAssistantFolder">
            {{#sections}}
                <input type="checkbox" class="blockAiAssistantCheckbox" id="{{idname}}">
                <label class="blockAiAssistant" for="{{idname}}"><i class="fa fa-folder"></i>  {{name}}</label>
                <div class="blockAiAssistantContent">
                    <input type="checkbox" id="selectAll-{{idname}}" data-idname="{{idname}}"
                           class="select-all-checkbox">
                    <label for="selectAll-{{idname}}">Select All</label>
                    {{#modules}}
                        <div class="activitytitle media modtype_{{modname}} position-relative align-self-start mb-1">
                            <input
                                    type="checkbox"
                                    class="courseModuleCheckbox module-checkbox-{{idname}} align-self-start mr-3"
                                    data-section="{{idname}}"
                                    data-filename="{{#content}}{{file_name}}{{/content}}"
                                    data-content="{{#content}}{{content}}{{/content}}"
                                    data-cmid="{{cmid}}"
                                    data-instanceid="{{instanceid}}"
                                    data-modname="{{modname}}"
                                    data-courseid="{{courseid}}"
                            >
                            <div class="activityiconcontainer {{icontype}} courseicon align-self-start mr-3"
                                 style="width: 24px; height:24px;">
                                <!--<img src="http://localhost:8180/theme/image.php/moove/page/1722556551/monologo?filtericon=1" class="activityicon " alt="Page icon">-->

                                <img src="{{icon}}?filtericon=1" class="activityicon " alt="{{modname}} icon"
                                     style="width: 12px; hight:12px;">
                            </div>
                            <div class="activityname">
                                {{name}} {{{trained}}}
                            </div>
                        </div>
                    {{/modules}}
                </div>
                <br>
            {{/sections}}
        </div>
    </div>
</div>

<script>

    function enableSelectAll() {
        // In plain JS, when the checkbox with class select-all-checkbox is clicked, we want to capture attribute data-idname
        // and select/deselect all checboxes with data-section equal to data-idname
        document.querySelectorAll('.select-all-checkbox').forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {

                var idname = this.getAttribute('data-idname');
                var checkboxes = document.querySelectorAll('.module-checkbox-' + idname);
                checkboxes.forEach(function (checkbox) {
                    console.log(checkbox);
                    // if the checkbox is checked, uncheck it, otherwise check it
                    checkbox.checked = !checkbox.checked;
                });
            });
        });
    }

    enableSelectAll();

</script>
