<div class="row">
    <div class="col-md-12">

        {{^syllabus_url}}
            <label for="upload-syllabus">{{#str}}upload_syllabus, block_ai_assistant{{/str}}</label>
            <a href="{{config.wwwroot}}/blocks/ai_assistant/syllabus_upload.php?courseid={{courseid}}"
            class="btn btn-link btn-sm"
            title="{{#str}}upload_syllabus, block_ai_assistant{{/str}}"
            >
            <i class="fa fa-upload"></i>
            </a>
        {{/syllabus_url}}
        {{#syllabus_url}}
            <label for="syllabus">{{#str}}syllabus, block_ai_assistant{{/str}}</label>
            <a href="{{syllabus_url}}"
            class="btn btn-link btn-sm"
            title="{{#str}}download_syllabus, block_ai_assistant{{/str}}"
            >
            <i class="fa fa-download"></i>
            </a>
        <!-- Delete syllabus -->
        <a href="{{config.wwwroot}}/blocks/ai_assistant/syllabus_delete.php?courseid={{courseid}}"
            class="btn btn-link btn-sm"
            title="{{#str}}delete_syllabus, block_ai_assistant{{/str}}"
            >
            <i class="fa fa-trash"></i>
        </a>
        {{/syllabus_url}}
    </div>
</div>




