
<div class="alert alert-info">
    <p>{{#str}}help_intro, block_ai_assistant{{/str}}</p>
</div>
{{> block_ai_assistant/document_template_syllabus}}
{{> block_ai_assistant/document_template_question}}
{{> block_ai_assistant/document_template_autotest}}
