<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>{{#str}}syllabus_template, block_ai_assistant{{/str}}</h2>
            </div>
            <div class="card-body">
                <p>{{#str}}syllabus_template_instructions, block_ai_assistant{{/str}}</p>
            </div>
            <div class="card-footer">
                <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/syllabus_template.docx"
                   title="{{#str}}download_english, block_ai_assistant{{/str}}"
                   class="btn btn-primary mr-2">{{#str}}download_english, block_ai_assistant{{/str}}</a>
                <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/syllabus_example.docx"
                   title="{{#str}}download_example, block_ai_assistant{{/str}}"
                   class="btn btn-primary">{{#str}}download_example, block_ai_assistant{{/str}}</a>
            </div>
        </div>


    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>{{#str}}question_template, block_ai_assistant{{/str}}</h2>
            </div>
            <div class="card-body">
                <p>{{#str}}question_template_instructions, block_ai_assistant{{/str}}</p>
            </div>
            <div class="card-footer">
                <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/questions_template.xlsx"
                   title="{{#str}}download, block_ai_assistant{{/str}}"
                   class="btn btn-primary">{{#str}}download, block_ai_assistant{{/str}}</a>
                <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/questions_example.docx"
                   title="{{#str}}download_example, block_ai_assistant{{/str}}"
                   class="btn btn-primary">{{#str}}download_example, block_ai_assistant{{/str}}</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h2>AutoTest Template</h2>

        <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/autotest_questions_template.xlsx"
           title="{{#str}}download, block_ai_assistant{{/str}}"
           class="btn btn-primary">{{#str}}download, block_ai_assistant{{/str}}</a>
        <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/autotest_questions_example.docx"
           title="{{#str}}download_example, block_ai_assistant{{/str}}"
           class="btn btn-primary">{{#str}}download_example, block_ai_assistant{{/str}}</a>
    </div>
</div>