<div class="row">
    <div class="col-md-12">
        <h2>Syllabus Template</h2>

        <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/syllabus_template.docx" class="btn btn-primary">{{#str}}download_english, block_ai_assistant{{/str}}</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <h2>AutoTest Template</h2>

        <a href="{{config.wwwroot}}/blocks/ai_assistant/doc_templates/autotest_questions_template.xlsx" class="btn btn-primary">{{#str}}download, block_ai_assistant{{/str}}</a>
    </div>
</div>