<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-end">
            <a href="{{config.wwwroot}}/blocks/ai_assistant/questions_import.php?courseid={{courseid}}"
            title="{{#str}}upload_questions, block_ai_assistant{{/str}}"
            class="btn btn-primary">{{#str}}upload_questions, block_ai_assistant{{/str}}</a>
        </div>
    </div>
</div>
