{{> block_ai_assistant/questions_list_buttons}}
<div class="row mt-2">
    <div class="col-md-12">
        <div class="table-responsive">
        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>File</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#questions}}
                <tr>
                    <td>{{name}}
                        <!-- Content training status -->
                        <span id="block-ai-assistant-training-status">
                            {{{training_status}}}
                        </span>
                    </td>
                    <td>
                        <a href="javascript:void(0);"
                           class="btn btn-link btn-sm block-ai-assistant-delete-question"
                           data-questionid="{{id}}"
                           data-courseid="{{courseid}}"
                           title="{{#str}}delete_question, block_ai_assistant{{/str}}"
                           data-confirm="{{#str}}confirm_question_deletion, block_ai_assistant{{/str}}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {{/questions}}
            </tbody>
        </table>
        </div>
    </div>
</div>

