<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">

            <p>
                <i class="fa fa-info-circle"></i>
                {{#str}}learning_assistant_help, block_ai_assistant{{/str}}
            </p>
        </div>
        <div class="blockAiAssistantLearningAssistantModules">
            <ul class="list-group">
                {{#modules}}
                    <li class="list-group-item">
                        <button class="btn btn-link btn-block-ai-assistant-student-module"
                                data-cmid="{{cmid}}"
                                data-name="{{name}}">
                            {{name}}
                        </button>
                    </li>
                {{/modules}}
            </ul>
        </div>
    </div>
</div>
