<div class="row">
    <div class="col-md-12">
        <span>{{#str}}download_syllabus, block_ai_assistant{{/str}} <a href="download.php?courseid={{courseid}}&blockid={{blockid}}"><i class="bi bi-download"></i></a></span>
    </div>
</div>