<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <h4>{{#str}}syllabus_instructions_title, block_ai_assistant{{/str}}</h4>
            <p>
                {{#str}}syllabus_instructions, block_ai_assistant{{/str}}
            </p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    {{#str}}syllabus_instructions_more, block_ai_assistant{{/str}}
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        {{#str}}syllabus_instructions_why, block_ai_assistant{{/str}}
                    </p>
                    <p>
                        {{#str}}syllabus_instructions_why_word, block_ai_assistant{{/str}}
                    </p>
                    <p>
                        {{#str}}syllabus_instructions_no_template, block_ai_assistant{{/str}}
                    </p>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>
