<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            {{#str}}tutorials_instructions, block_ai_assistant{{/str}}
        </div>
    </div>
</div>
